.thegem-te-infobox,
.thegem-te-infobox-wrapper,
.thegem-te-infobox .thegem-te-infobox-content,
.thegem-te-infobox .gem-texbox-icon-image-wrapper .elementor-icon,
.thegem-te-infobox .gem-texbox-icon-image-wrapper .elementor-icon i,
.thegem-te-infobox .gem-image,
.thegem-te-infobox .gem-image img,
.thegem-te-infobox .gem-image span,
.thegem-te-infobox .gem-image span:before,
.thegem-te-infobox .thegem-te-infobox-title,
.thegem-te-infobox .thegem-te-infobox-description,
.thegem-te-infobox .gem-button-container,
.thegem-te-infobox .thegem-te-infobox-top,
.thegem-te-infobox .thegem-te-infobox-top svg,
.thegem-te-infobox .thegem-te-infobox-bottom,
.thegem-te-infobox .thegem-te-infobox-bottom svg {
	transition: 0.25s linear;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-ms-transition: 0.25s linear;
	-o-transition: 0.25s linear;
}

.thegem-te-infobox-content {
	padding: 30px;
}

.thegem-te-infobox-top,
.thegem-te-infobox-bottom {
	font-size: 0;
	line-height: 0;
	text-align: center;
}

.gem-styled-textbox-link,
.gem-styled-textbox-icon-image-link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.gem-texbox-icon-image-wrapper {
	position: relative;
}

.thegem-te-infobox .thegem-te-infobox-icon-horizontal-right.thegem-te-infobox-icon-image-wrapping-inline .gem-texbox-icon-image-wrapper {
	margin-left: 10px;
}

.thegem-te-infobox .thegem-te-infobox-icon-horizontal-left.thegem-te-infobox-icon-image-wrapping-inline .gem-texbox-icon-image-wrapper {
	margin-right: 10px;
}

.thegem-te-infobox h4,
.thegem-te-infobox .title-h4 {
	margin-top: 0;
}

.thegem-te-infobox-content .gem-image span {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	max-width: 100%;
	position: relative;
}

.thegem-te-infobox-content .gem-image span::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: 0.25s linear;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-ms-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	opacity: 0;
	z-index: 1;
}

.thegem-te-infobox:hover .thegem-te-infobox-content .gem-image a::before,
.thegem-te-infobox:hover .thegem-te-infobox-content .gem-image span::before {
	opacity: 1;
}

.thegem-te-infobox .thegem-te-infobox-icon-horizontal-right .gem-icon-with-text-icon {
	padding-right: 0px;
	padding-left: 10px;
}

/* Icon Bottom */

.thegem-te-infobox-content.icon-bottom {
	display: flex;
	flex-direction: column;
}

.thegem-te-infobox .icon-bottom .gem-texbox-text-wrapper {
	order: 1;
}

.thegem-te-infobox .icon-bottom .gem-texbox-icon-image-wrapper {
	order: 2;
	margin-top: 30px;
}


/* Icon Bottom + Button Bottom */

.thegem-te-infobox-content.icon-bottom,
.thegem-te-infobox-content.button-top {
	display: flex;
	flex-direction: column;
}

.thegem-te-infobox .icon-bottom.button-bottom .gem-texbox-text-wrapper {
	order: 1;
}

.thegem-te-infobox .icon-bottom.button-bottom .gem-texbox-icon-image-wrapper {
	order: 2;
}


/* Icon Top + Button Top */

.thegem-te-infobox-content.icon-top.button-top .gem-texbox-text-wrapper {
	display: flex;
	flex-direction: column;
}

.thegem-te-infobox-content.icon-top.button-top .gem-button-container {
	order: 1;
}

.thegem-te-infobox-content.icon-top.button-top .thegem-te-infobox-title {
	order: 2;
}

.thegem-te-infobox-content.icon-top.button-top .thegem-te-infobox-description {
	order: 3;
}


/* Icon Bottom + Button Top */

.thegem-te-infobox-content.icon-bottom.button-top .gem-texbox-text-wrapper {
	display: flex;
	flex-direction: column;
}

.thegem-te-infobox-content.icon-bottom.button-top .gem-button-container {
	order: 1;
}

.thegem-te-infobox-content.icon-bottom.button-top .thegem-te-infobox-title {
	order: 2;
}

.thegem-te-infobox-content.icon-bottom.button-top .thegem-te-infobox-description {
	order: 3;
}

.thegem-te-infobox-content.icon-bottom.button-top .gem-texbox-text-wrapper {
	order: 1;
}

.thegem-te-infobox-content.icon-bottom.button-top .gem-texbox-icon-image-wrapper {
	order: 2;
	margin-top: 30px;
}

.thegem-te-infobox-icon .elementor-icon {
	display: block;
	color: var(--thegem-to-menu-level1-color, #3C3950);
}

.thegem-te-infobox-icon .elementor-icon i {
	transition: none !important;
}

.thegem-te-infobox-icon-horizontal-center .gem-texbox-icon-image-wrapper {
	text-align: center !important;
}

.thegem-te-infobox-icon-horizontal-left .gem-texbox-icon-image-wrapper {
	text-align: left !important;
}

.thegem-te-infobox-icon-horizontal-right .gem-texbox-icon-image-wrapper {
	text-align: right !important;
}

.thegem-te-infobox-icon-horizontal-right.thegem-te-infobox-icon-image-wrapping-wrap .gem-texbox-icon-image-wrapper {
	float: right;
}

.thegem-te-infobox-icon-horizontal-left.thegem-te-infobox-icon-image-wrapping-wrap .gem-texbox-icon-image-wrapper {
	float: left;
}

.thegem-te-infobox-icon-image-wrapping-inline {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.thegem-te-infobox-icon-image-wrapping-inline .gem-texbox-text-wrapper {
	flex-grow: 1;
}

.thegem-te-infobox-icon-image-wrapping-inline.thegem-te-infobox-icon-horizontal-right {
	flex-direction: row-reverse;
}
.icon-bottom.thegem-te-infobox-icon-image-wrapping-inline.thegem-te-infobox-icon-horizontal-right {
	flex-direction: row;
	align-items: flex-end;
}

.thegem-te-infobox-icon-image-wrapping-inline.thegem-te-infobox-icon-horizontal-left {
	flex-direction: row;
}
.icon-bottom.thegem-te-infobox-icon-image-wrapping-inline.thegem-te-infobox-icon-horizontal-left {
	flex-direction: row-reverse;
	align-items: flex-end;
}

.thegem-te-infobox-title.title-default,
.thegem-te-infobox-subtitle.title-default {
	font-family: var(--thegem-to-menu-font-family, 'Montserrat');
	font-style: var(--thegem-to-menu-font-style, normal);
	font-weight: var(--thegem-to-menu-font-weight, 700);
	font-size: var(--thegem-to-menu-font-size, 14px);
	line-height: var(--thegem-to-menu-line-height, 25px);
	letter-spacing: var(--thegem-to-menu-letter-spacing, 0);
	text-transform: var(--thegem-to-menu-text-transform, uppercase);
	color: var(--thegem-to-menu-level1-color, #3C3950);
}
.thegem-te-infobox-title.title-default.light,
.thegem-te-infobox-subtitle.title-default.light {
	font-family: var(--thegem-to-light-title-font-family);
	font-style: var(--thegem-to-light-title-font-style);
	font-weight: normal;
}
.thegem-te-infobox-title.text-body,
.thegem-te-infobox-subtitle.text-body {
	font-family: var(--thegem-to-body-font-family);
	font-style: var(--thegem-to-body-font-style);
	font-weight: var(--thegem-to-body-font-weight);
	font-size: var(--thegem-to-body-font-size);
	line-height: var(--thegem-to-body-line-height);
	letter-spacing: var(--thegem-to-body-letter-spacing);
	text-transform: var(--thegem-to-body-text-transform);
}
.thegem-te-infobox-title.text-body-tiny,
.thegem-te-infobox-subtitle.text-body-tiny {
	font-family: var(--thegem-to-body-tiny-font-family);
	font-style: var(--thegem-to-body-tiny-font-style);
	font-weight: var(--thegem-to-body-tiny-font-weight);
	font-size: var(--thegem-to-body-tiny-font-size);
	line-height: var(--thegem-to-body-tiny-line-height);
	letter-spacing: var(--thegem-to-body-tiny-letter-spacing);
	text-transform: var(--thegem-to-body-tiny-text-transform);
}

/*Light icon style*/
#site-header.header-light .thegem-te-infobox .thegem-te-infobox-title,
#site-header.header-light .thegem-te-infobox .thegem-te-infobox-subtitle,
#site-header.header-light .thegem-te-infobox .elementor-icon {
	color: var(--header-builder-light-color, #FFFFFF) !important;
	transition: all 0.3s;
}
#site-header.header-light .thegem-te-infobox:hover .thegem-te-infobox-title,
#site-header.header-light .thegem-te-infobox:hover .thegem-te-infobox-subtitle,
#site-header.header-light .thegem-te-infobox:hover .elementor-icon {
	color: var(--header-builder-light-color-hover, #FFFFFF) !important;
}

.thegem-te-infobox .thegem-te-infobox-content .thegem-te-infobox-title,
.thegem-te-infobox .thegem-te-infobox-content .thegem-te-infobox-subtitle {
	transition: all 0.3s;
}

.thegem-te-infobox.width-link:hover .thegem-te-infobox-content .thegem-te-infobox-title,
.thegem-te-infobox.width-link:hover .thegem-te-infobox-content .thegem-te-infobox-subtitle {
	color: var(--thegem-to-menu-level1-color-hover, #00BCD4) !important;
}