.thegem-te-account {
	position: relative;
}

.thegem-te-account .account-link {
	position: relative;
	display: flex;
	color: var(--thegem-to-menu-level1-color, #3C3950);
}

.thegem-te-account .account-icon-default {
	display: flex;
	align-items: center;
}

.thegem-te-account i.default:before {
	font-family: 'thegem-icons';
	content: '\e681';
	font-style: normal;
}

.thegem-te-account .account-link:hover {
	color: var(--thegem-to-menu-level1-color-hover, #00BCD4);
}

.thegem-te-account .account-link .gem-icon {
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

.thegem-te-account .account-link .gem-icon svg {
	fill: currentColor;
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
}

/*Tiny icon*/
.thegem-te-account .gem-icon-size-tiny {
	font-size: 16px;
	width: 16px;
	height: 16px;
	line-height: 16px;
}

/*Light account style*/
#site-header.header-light .thegem-te-account .account-link {
	color: var(--header-builder-light-color, #FFFFFF);
}

#site-header.header-light .thegem-te-account .account-link:hover {
	color: var(--header-builder-light-color-hover, #00BCD4);
}