/* Hide toggle buttons */
@media (min-width: 768px) {
    .thegem-te-menu__default.desktop-view .menu-toggle,
    .thegem-te-menu__default.desktop-view .overlay-menu-back,
    .thegem-te-menu__default.desktop-view .mobile-menu-slide-close{
        display: none;
    }
    /* Hide back item */
    .thegem-te-menu__default.desktop-view ul.nav-menu li.dl-back{
        display: none !important;
    }
    /* Menu style default level1 */
    .thegem-te-menu__default.desktop-view ul.nav-menu{
        position: relative;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        width: auto !important;
        left: inherit !important;
        padding: 0;
        margin: 0 -16px;
    }
}
.thegem-te-menu__default.desktop-view ul.nav-menu.nav-menu--stretch {
    justify-content: space-between;
}
.thegem-te-menu__default.desktop-view ul.nav-menu li ul {
    margin-top: -1px;
}
.thegem-te-menu__default.desktop-view ul.nav-menu li {
    position: relative;
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li{
    position: relative;
    display: flex;
    align-items: center;
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-type-split-logo) {
    flex: none;
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li > a{
    position: relative;
    display: block;
    padding: 2px 16px;
    font-family: var(--thegem-to-menu-font-family, 'Montserrat');
    font-style: var(--thegem-to-menu-font-style, normal);
    font-weight: var(--thegem-to-menu-font-weight, 700);
    font-size: var(--thegem-to-menu-font-size, 14px);
    line-height: var(--thegem-to-menu-line-height, 25px);
    letter-spacing: var(--thegem-to-menu-letter-spacing, 0);
    text-transform: var(--thegem-to-menu-text-transform, uppercase);
    text-decoration: none;
    color: var(--thegem-to-menu-level1-color, #3C3950);
    background-color: var(--thegem-to-menu-level1-bg-color);
    z-index: 1;
}

/* Menu style default level2 */
.thegem-te-menu__default.desktop-view ul.nav-menu > li ul{
    position: absolute;
    visibility: hidden;
    top: 100%;
    opacity: 0;
    transition: transform 0.1s linear 0.5s, opacity 0.1s linear 0.5s, visibility 0.1s linear 0.5s;
    z-index: 1;
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.megamenu-enable) ul {
    left: 0 !important;
    width: 280px !important;
    border: 1px solid var(--thegem-to-menu-level2-border-color, #DFE5E8);
    border-top: 0;
}
@media (-webkit-device-pixel-ratio: 1.25) {
    .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.megamenu-enable) ul {
        border: 0.8px solid var(--thegem-to-menu-level2-border-color, #DFE5E8);
        border-top: 0;
    }
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul{
    transform: translateY(20px);
}
.thegem-te-menu__default.desktop-view ul.nav-menu:hover > li ul{
    visibility: hidden;
    transition: transform 0.1s linear, opacity 0.1s linear, visibility 0.1s linear;
    opacity: 0;
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li:hover > ul{
    visibility: visible;
    opacity: 1;
    transition: transform 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;
    transform: translateY(0);
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li{
    border-top: 1px solid var(--thegem-to-menu-level2-border-color, #DFE5E8);
}
@media (-webkit-device-pixel-ratio: 1.25) {
    .thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li{
        border-top: 0.8px solid var(--thegem-to-menu-level2-border-color, #DFE5E8);
    }
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li a{
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 27px;
    font-family: var(--thegem-to-submenu-font-family, 'Source Sans Pro');
    font-style: var(--thegem-to-submenu-font-style, normal);
    font-weight: var(--thegem-to-submenu-font-weight, normal);
    font-size: var(--thegem-to-submenu-font-size, 16px);
    line-height: var(--thegem-to-submenu-line-height, 20px);
    letter-spacing: var(--thegem-to-submenu-letter-spacing, 0);
    text-transform: var(--thegem-to-submenu-text-transform, none);
    text-decoration: none;
    border-left: 3px solid transparent;
    transition: color 0.3s, background-color 0.3s, border-left-color 0.3s;
    color: var(--thegem-to-menu-level2-color, #5F727F);
    background-color: var(--thegem-to-menu-level2-bg-color, #F4F6F7);
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li li:hover > a{
    border-color: var(--thegem-to-styled-color1, #00BCD4);
    background-color: var(--thegem-to-menu-level2-hover-bg-color, #FFFFFF);
    color: var(--thegem-to-menu-level2-hover-color, #3C3950);
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li li.menu-item-active > a,
.thegem-te-menu__default.desktop-view ul.nav-menu > li li.menu-item-current > a{
    border-color: var(--thegem-to-styled-color1, #00BCD4);
    background-color: var(--thegem-to-menu-level2-active-bg-color, #FFFFFF);
    color: var(--thegem-to-menu-level2-active-color, #3C3950);
}
.menu--dark-submenu .thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li a,
.menu--white-mainmenu .thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li a{
    border-left: 0;
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li li.menu-item-parent > a:after{
    content: '\e601';
    font-family: 'thegem-icons';
    position: absolute;
    right: 20px;
    top: 50%;
    width: 9px;
    height: 16px;
    margin-top: -8px;
    font-size: 16px;
    line-height: 1;
    color: var(--thegem-to-menu-submenu-highlighter-color);
}
/* Menu style default level3+ */
.thegem-te-menu__default.desktop-view ul.nav-menu:hover li:hover > ul{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.3s linear, opacity 0.3s linear, visibility 0.3s linear;
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li ul ul{
    position: absolute;
    top: 0;
    transform: translateX(20px);
    z-index: 1;
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.megamenu-enable) ul ul {
    left: 100% !important;
    top: 0;
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li > ul li{
    border-top: 1px solid var(--thegem-to-menu-level2-border-color, #DFE5E8);
}
@media (-webkit-device-pixel-ratio: 1.25) {
    .thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li > ul li{
        border-top: 0.8px solid var(--thegem-to-menu-level2-border-color, #DFE5E8);
    }
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li > ul li a{
    background-color: var(--thegem-to-menu-level3-bg-color, #FFFFFF);
    color: var(--thegem-to-menu-level3-color, #5F727F);
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li li:hover > a{
    border-color: var(--thegem-to-styled-color1, #00BCD4);
    background-color: var(--thegem-to-menu-level3-hover-bg-color, #FFFFFF);
    color: var(--thegem-to-menu-level3-hover-color, #5F727F);
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li li.menu-item-active > a,
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul > li li.menu-item-current > a{
    border-color: var(--thegem-to-styled-color1, #00BCD4);
    background-color: var(--thegem-to-menu-level3-active-bg-color, #FFFFFF);
    color: var(--thegem-to-menu-level3-active-color, #5F727F);
}

/* Menu style default invert */
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul.invert{
    left: auto !important;
    right: 0 !important;
    transform: translateX(-20px);
}
.thegem-te-menu__default.desktop-view ul.nav-menu > li > ul ul.invert{
    top: 0;
    left: auto !important;
    right: 100% !important;
    transform: translateX(-20px);
    z-index: 2;
}

/* Menu split logo */
.thegem-te-menu__default:not(.desktop-view) ul.nav-menu .menu-item-type-split-logo{
    display: none;
}
.thegem-te-menu__default.desktop-view ul.nav-menu.nav-menu--split {
    flex-wrap: nowrap;
}
.thegem-te-menu__default.desktop-view ul.nav-menu .menu-item-type-split-logo .site-logo{
    padding: 0 15px;
}
.thegem-te-menu__default.desktop-view ul.nav-menu .menu-item-type-split-logo .site-logo a{
    display: block;
}
.thegem-te-menu__default.desktop-view ul.nav-menu.nav-menu--split.fullwidth-logo .menu-item-type-split-logo{
    flex: 1;
    justify-content: center;
}
.thegem-te-menu__default.desktop-view ul.nav-menu.absolute.nav-menu--split.fullwidth-logo .menu-item-type-split-logo{
    z-index: -1;
}
.thegem-te-menu__default.desktop-view ul.nav-menu.absolute .menu-item-type-split-logo {
    margin-left: 150px;
    margin-right: 150px;
}
.elementor-widget-wrap > .logo-fullwidth-block {
    position: absolute !important;
    width: 100%;
    left: 0;
}
.elementor-widget-wrap > .logo-fullwidth-block:not(.desktop-view) {
    display: none !important;
}
.thegem-te-menu__default.desktop-view ul.nav-menu.absolute .menu-item-type-split-logo > .logo-fullwidth-block{
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
}
.thegem-te-menu__default ul.nav-menu.nav-menu--split:not(.absolute) .logo-fullwidth-block{
    width: auto !important;
    left: auto !important;
}

/* Hover Styles */

.style-hover-framed .thegem-te-menu__default.desktop-view ul.nav-menu,
.style-hover-lined.style-hover-type-line-top-bottom .thegem-te-menu__default.desktop-view ul.nav-menu,
.style-hover-background.style-hover-type-background-color .thegem-te-menu__default.desktop-view ul.nav-menu,
.style-hover-background.style-hover-type-background-rounded .thegem-te-menu__default.desktop-view ul.nav-menu {
    margin-left: -5px;
    margin-right: -5px;
}
.style-hover-framed .thegem-te-menu__default.desktop-view ul.nav-menu > li,
.style-hover-lined.style-hover-type-line-top-bottom .thegem-te-menu__default.desktop-view ul.nav-menu > li,
.style-hover-background.style-hover-type-background-color .thegem-te-menu__default.desktop-view ul.nav-menu > li,
.style-hover-background.style-hover-type-background-rounded .thegem-te-menu__default.desktop-view ul.nav-menu > li {
    margin-left: 5px;
    margin-right: 5px;
}

.style-hover-lined.style-hover-type-line-underline-1 .thegem-te-menu__default.desktop-view ul.nav-menu,
.style-hover-lined.style-hover-type-line-underline-2 .thegem-te-menu__default.desktop-view ul.nav-menu,
.style-hover-lined.style-hover-type-line-overline-1 .thegem-te-menu__default.desktop-view ul.nav-menu,
.style-hover-lined.style-hover-type-line-overline-2 .thegem-te-menu__default.desktop-view ul.nav-menu {
    margin-left: -15px;
    margin-right: -15px;
}

.style-hover-lined.style-hover-type-line-underline-1 .thegem-te-menu__default.desktop-view ul.nav-menu > li,
.style-hover-lined.style-hover-type-line-underline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li,
.style-hover-lined.style-hover-type-line-overline-1 .thegem-te-menu__default.desktop-view ul.nav-menu > li,
.style-hover-lined.style-hover-type-line-overline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li {
    margin-left: 15px;
    margin-right: 15px;
}

.style-hover-lined.style-hover-type-line-underline-1 .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-active):not(.menu-item-current) > a,
.style-hover-lined.style-hover-type-line-overline-1 .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-active):not(.menu-item-current) > a,
.style-active-lined.style-active-type-line-underline-1 .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-active > a,
.style-active-lined.style-active-type-line-underline-1 .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-current > a,
.style-active-lined.style-active-type-line-overline-1 .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-active > a,
.style-active-lined.style-active-type-line-overline-1 .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-current > a,
.style-hover-lined.style-hover-type-line-underline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-active):not(.menu-item-current) > a,
.style-hover-lined.style-hover-type-line-overline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-active):not(.menu-item-current) > a,
.style-active-lined.style-active-type-line-underline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-active > a,
.style-active-lined.style-active-type-line-underline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-current > a,
.style-active-lined.style-active-type-line-overline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-active > a,
.style-active-lined.style-active-type-line-overline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-current > a {
    padding-left: 0;
    padding-right: 0;
}

.style-hover-lined.style-hover-type-line-top-bottom .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-active):not(.menu-item-current) > a,
.style-active-lined.style-active-type-line-top-bottom .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-active > a,
.style-active-lined.style-active-type-line-top-bottom .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-current > a,
.style-hover-background.style-hover-type-background-color .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-active):not(.menu-item-current) > a,
.style-active-background.style-active-type-background-color .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-active > a,
.style-active-background.style-active-type-background-color .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-current > a {
    padding-left: 10px;
    padding-right: 10px;
}

.style-hover-background.style-hover-type-background-underline .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-active):not(.menu-item-current) > a,
.style-hover-background.style-hover-type-background-extra-paddings .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-active):not(.menu-item-current) > a,
.style-active-background.style-active-type-background-underline .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-active > a,
.style-active-background.style-active-type-background-underline .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-current > a,
.style-active-background.style-active-type-background-extra-paddings .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-active > a,
.style-active-background.style-active-type-background-extra-paddings .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-current > a {
    padding-left: 15px;
    padding-right: 15px;
}

.style-hover-lined.style-hover-type-line-underline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li > a,
.style-hover-lined.style-hover-type-line-overline-2 .thegem-te-menu__default.desktop-view ul.nav-menu > li > a,
.style-hover-background.style-hover-type-background-underline .thegem-te-menu__default.desktop-view ul.nav-menu > li > a,
.style-hover-background.style-hover-type-background-extra-paddings .thegem-te-menu__default.desktop-view ul.nav-menu > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.style-hover-background.style-hover-type-background-extra-paddings .thegem-te-menu__default.desktop-view ul.nav-menu > li:not(.menu-item-active):not(.menu-item-current) > a:before,
.style-active-background.style-active-type-background-extra-paddings .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-active > a:before,
.style-active-background.style-active-type-background-extra-paddings .thegem-te-menu__default.desktop-view ul.nav-menu > li.menu-item-current > a:before {
    border-radius: 3px;
}
