.elementor-widget-thegem-template-search-form .elementor-widget-container {
	width: 100%;
}

.thegem-te-search-form {
	position: relative;
	font-family: var(--thegem-to-body-tiny-font-family);
	font-style: var(--thegem-to-body-tiny-font-style);
	font-weight: var(--thegem-to-body-tiny-font-weight);
	font-size: var(--thegem-to-body-tiny-font-size);
	line-height: var(--thegem-to-body-tiny-line-height);
	letter-spacing: var(--thegem-to-body-tiny-letter-spacing);
	text-transform: var(--thegem-to-body-tiny-text-transform);
}

.thegem-te-search-form form {
	position: relative;
	width: 100%;
}

.thegem-te-search-form .search-field {
	width: 100%;
	height: 34px;
	line-height: 34px;
	padding: 0 40px 0 25px;
	border-radius: 17px;
	box-sizing: border-box;
	outline: 0 none;
	color: inherit;
	background: var(--thegem-to-main-bg-color, #FFFFFF);
	border-color: var(--thegem-to-box-border-color, #dfe5e8);
}

.thegem-te-search-form .search-field::-webkit-input-placeholder,
.thegem-te-search-form .search-field::placeholder {
	color: inherit;
	opacity: 0.5;
}

.thegem-te-search-form .search-buttons {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	display: flex;
	align-items: center;
	padding-right: 12px;
}

.thegem-te-search-form.visible .search-buttons {
	z-index: 1;
}

.thegem-te-search-form .search-submit {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 100%;
	font-size: 24px;
	line-height: 1;
	border: none;
	background: transparent;
	color: var(--thegem-to-menu-level1-color, #3C3950);
	margin-left: 12px;
	cursor: pointer;
	transition: all 0.3s;
}

.thegem-te-search-form .search-submit svg {
	max-width: 100%;
	height: auto;
}

.thegem-te-search-form .search-submit i,
.thegem-te-search-form .search-submit i:before {
	display: block;
	font-style: normal;
}

.thegem-te-search-form .search-submit:hover,
.thegem-te-search-form .thegem-te-search__item.active a {
	color: var(--thegem-to-menu-level1-color-hover, #00BCD4);
}

.thegem-te-search-form .search-submit .open i.default:before {
	content: "\e612";
	font-family: "thegem-icons";
}

.thegem-te-search-form .search-submit .close {
	display: none;
}

.thegem-te-search-form .search-submit .close i.default:before {
	content: "\e619";
	font-family: "thegem-icons";
}

.thegem-te-search-form .search-submit.clear {
	cursor: pointer;
}

.thegem-te-search-form .search-submit.clear .close {
	display: block;
}

.thegem-te-search-form .search-submit.clear .open {
	display: none;
}

.thegem-te-search-form.ajax-loading .search-submit:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	border: 2px solid #5f727f;
	border-top: 2px solid transparent;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	animation: spin 2s linear infinite;
}

.thegem-te-search-form.ajax-loading .search-submit > * {
	opacity: 0;
}

.thegem-te-search-form .ajax-search-results {
	overflow: auto;
	max-height: 80vh;
}

.thegem-te-search-form .ajax-search-results-wrap {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	overflow: auto;
	max-height: 80vh;
	background-color: var(--thegem-to-main-bg-color, #FFFFFF);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	z-index: 1;
}

.thegem-te-search-form.visible {
	z-index: 2;
}

.thegem-te-search-form.visible .ajax-search-results-wrap {
	display: block;
}

.thegem-te-search-form .ajax-search-results::-webkit-scrollbar-track,
.thegem-te-search-form .select-category .select::-webkit-scrollbar-track {
	background-color: transparent;
}

.thegem-te-search-form .ajax-search-results::-webkit-scrollbar,
.thegem-te-search-form .select-category .select::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

.thegem-te-search-form .ajax-search-results::-webkit-scrollbar-thumb,
.thegem-te-search-form .select-category .select::-webkit-scrollbar-thumb {
	background-color: #dfe5e8;
	border-radius: 2px;
}

.thegem-te-search-form .ajax-search-results .scroll-block {
	padding: 2px 6px 2px 2px;
}

.thegem-te-search-form .ajax-search-results .title {
	padding-left: 13px;
	margin: 0.8em 0;
}

.thegem-te-search-form .ajax-search-results .show-all {
	text-align: center;
	border-top: 1px solid var(--thegem-to-box-border-color, #dfe5e8);
	border-bottom: 1px solid var(--thegem-to-box-border-color, #dfe5e8);
	padding: 4px 0;
	margin-top: 18px;
}

.thegem-te-search-form .ajax-search-results .arrow:before {
	content: '\e601';
	font-style: normal;
	font-family: "thegem-icons";
	font-weight: normal;
	-webkit-font-smoothing: initial;
}

.thegem-te-search-form .ajax-search-results .search-results-section:last-child .show-all {
	border-bottom: none;
}

.thegem-te-search-form .ajax-search-results .ajax-search-item {
	margin-bottom: 2px;
}

.thegem-te-search-form .ajax-search-results .ajax-search-item {
	white-space: initial;
}

.thegem-te-search-form .ajax-search-results .ajax-search-item a {
	display: flex;
	align-items: center;
	color: inherit;
}

.thegem-te-search-form .ajax-search-results .ajax-search-item a:hover {
	color: var(--thegem-to-widget-hover-link_color, #00BCD4);
}

.thegem-te-search-form .ajax-search-results .ajax-search-item a > div {
	overflow: hidden;
}

.thegem-te-search-form .ajax-search-results .ajax-search-item .thumbnail {
	flex: none;
	margin-right: 9px;
	width: 80px;
	height: 80px;
	background-color: var(--styled-bg-color, #f0f3f2);
}

.thegem-te-search-form .ajax-search-results .ajax-search-item .thumbnail img {
	width: 100%;
	height: auto;
}

.thegem-te-search-form .ajax-search-results .search-results-product .ajax-search-item .post-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.thegem-te-search-form .ajax-search-results .ajax-search-item .post-title {
	max-height: calc(2 * var(--thegem-to-body-tiny-line-height));
	overflow: hidden;
}
.thegem-te-search-form .ajax-search-results .ajax-search-item .post-meta {
	opacity: 0.5;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.thegem-te-search-form .ajax-search-results .search-results-section.search-results-nothing {
	padding: 20px;
}

.thegem-te-search-form .ajax-search-results .search-results-section.search-results-nothing .ajax-search-item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0;
}

.thegem-te-search-form .ajax-search-results .search-results-section.search-results-nothing svg {
	width: 50px;
	fill: #dfe5e8;
}

.thegem-te-search-form .select-category {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	z-index: 2;
}

.thegem-te-search-form .select-category .arrow-down:before {
	display: inline-block;
	content: '\e602';
	font-style: normal;
	font-family: "thegem-icons";
	font-weight: normal;
	-webkit-font-smoothing: initial;
	transition: all 0.3s;
}

.thegem-te-search-form .select-category .current {
	cursor: pointer;
}

.thegem-te-search-form .select-category .select {
	display: none;
	position: absolute;
	width: 200px;
	right: 0;
	top: 100%;
	overflow: auto;
	max-height: 40vh;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
	background-color: var(--thegem-to-main-bg-color, #FFFFFF);
	z-index: 1;
}

.thegem-te-search-form .select-category .select .scroll-block {
	padding: 17px 20px;
}

.thegem-te-search-form .select-category .select ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.thegem-te-search-form .select-category .select ul ul {
	padding-left: 15px;
}

.thegem-te-search-form .select-category .select li {
	margin-bottom: 2px;
}

.thegem-te-search-form .select-category .select .term {
	cursor: pointer;
	transition: all 0.3s;
}

.thegem-te-search-form .select-category .select .term.active,
.thegem-te-search-form .select-category .select .term:hover {
	color: var(--thegem-to-widget-hover-link_color, #00BCD4);
}

.thegem-te-search-form .select-category.active .select {
	display: block;
}

.thegem-te-search-form .select-category.active .arrow-down:before {
	transform: rotate(180deg);
}

.thegem-te-search-form.columns-2 .result-items,
.thegem-te-search-form.columns-3 .result-items,
.thegem-te-search-form.columns-4 .result-items {
	display: flex;
	flex-wrap: wrap;
}

.thegem-te-search-form.columns-2 .ajax-search-item {
	width: 50%;
	padding-right: 5px;
}

.thegem-te-search-form.columns-3 .ajax-search-item {
	width: 33.33%;
	padding-right: 5px;
}

.thegem-te-search-form.columns-4 .ajax-search-item {
	width: 25%;
	padding-right: 5px;
}