.thegem-te-divider .gem-divider {
	border: none;
	height: auto;
	color: var(--thegem-to-divider-color, #dfe5e8);
	border-color: var(--thegem-to-divider-color, #dfe5e8);
}
.thegem-te-divider.gem-divider-direction-vertical .gem-divider {
	border-top-width: 0px !important;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px;
}
.thegem-te-divider.gem-divider-direction-horizontal .gem-divider {
	border-top-width: 0px;
	border-right-width: 0px !important;
	border-bottom-width: 0px !important;
	border-left-width: 0px !important;
}
.thegem-te-divider.gem-divider-horizontal-full {
	/*position: absolute;*/
	/*width: 100%;*/
}
.thegem-te-divider.gem-divider-direction-horizontal.gem-divider-style-solid .gem-divider,
.thegem-te-divider.gem-divider-direction-vertical.gem-divider-style-solid .gem-divider {
	border-style: solid;
}
.thegem-te-divider.gem-divider-direction-horizontal.gem-divider-style-dotted .gem-divider,
.thegem-te-divider.gem-divider-direction-vertical.gem-divider-style-dotted .gem-divider {
	border-style: dotted;
}
.thegem-te-divider.gem-divider-direction-horizontal.gem-divider-style-dashed .gem-divider,
.thegem-te-divider.gem-divider-direction-vertical.gem-divider-style-dashed .gem-divider {
	border-style: dashed;
}
/*Use Light Color Scheme*/
#site-header.header-light .thegem-te-divider .gem-divider{
	border-color: var(--header-builder-light-color, #FFFFFF);
}