@font-face {
    font-family: 'thegem-arrows';
    src:  url('../fonts/thegem-arrows.eot?p5r839');
    src:  url('../fonts/thegem-arrows.eot?p5r839#iefix') format('embedded-opentype'),
    url('../fonts/thegem-arrows.ttf?p5r839') format('truetype'),
    url('../fonts/thegem-arrows.woff?p5r839') format('woff'),
    url('../fonts/thegem-arrows.svg?p5r839#thegem-arrows') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gem-featured-posts-slider {
    position: relative;
}

.gem-featured-posts-slider-empty {
    height: 340px;
    background: #f0f4f7 url('../images/admin-images/featured-posts-slider-dummy.png') no-repeat 50% 40%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.gem-featured-posts-slider-empty p {
    margin: 0 0 30px 0;
    color: #aaabaa;
}

.gem-featured-posts-slider-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.gem-featured-posts-slider-wrap.init {
    opacity: 0;
}

.gem-featured-posts-slider-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.gem-featured-posts-slider-nav a {
    position: absolute;
    line-height: 1;
}

.gem-featured-posts-slider-nav svg {
    fill: currentColor;
}

.gem-featured-posts-slider-nav a,
.gem-featured-posts-slider-nav.style-light a {
    color: #ffffff;
}

.gem-featured-posts-slider-nav.style-dark a {
    color: #3c3950;
}



.gem-featured-posts-slide-prev { left: 15px; }
.gem-featured-posts-slide-next { right: 15px; }

.fullwidth-block .gem-featured-posts-slide-prev { left: 50px; }
.fullwidth-block .gem-featured-posts-slide-next { right: 50px; }

@media(max-width: 767px) {
    .gem-featured-posts-slider-nav.position-mobile-left-right a {
        top: 50%;
        transform: translateY(-50%);
    }

    .gem-featured-posts-slider-nav.position-mobile-bottom-centered {
        bottom: 50px;
        top: auto;
        transform: none;
        display: flex;
        justify-content: center;
    }

    .gem-featured-posts-slider-nav.position-mobile-bottom-centered a {
        margin: 0 10px;
        position: relative;
        left: auto;
        right: auto;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .gem-featured-posts-slider-nav.position-tablet-left-right a {
        top: 50%;
        transform: translateY(-50%);
    }

    .gem-featured-posts-slider-nav.position-tablet-bottom-centered {
        bottom: 50px;
        top: auto;
        transform: none;
        display: flex;
        justify-content: center;
    }

    .gem-featured-posts-slider-nav.position-tablet-bottom-centered a {
        margin: 0 10px;
        position: relative;
        left: auto;
        right: auto;
    }
}

@media (min-width: 1025px) {
    .gem-featured-posts-slider-nav.position-left-right a {
        top: 50%;
        transform: translateY(-50%);
    }

    .gem-featured-posts-slider-nav.position-bottom-centered {
        bottom: 50px;
        top: auto;
        transform: none;
        display: flex;
        justify-content: center;
    }

    .gem-featured-posts-slider-nav.position-bottom-centered a {
        margin: 0 10px;
        position: relative;
        left: auto;
        right: auto;
    }
}


.gem-featured-posts-slider-nav a:before,
.gem-featured-posts-slider-nav a:after {
    font-family: 'thegem-arrows';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gem-featured-posts-slider-nav.style-icon-4 a:after,
.gem-featured-posts-slider-nav.style-icon-5 a:after {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.gem-featured-posts-slider-nav.style-icon-4 a:hover:before,
.gem-featured-posts-slider-nav.style-icon-5 a:hover:before {
    opacity: 0;
}

.gem-featured-posts-slider-nav.style-icon-4 a:hover:after,
.gem-featured-posts-slider-nav.style-icon-5 a:hover:after {
    opacity: 1;
}

/* style arrows 1 */
.gem-featured-posts-slider-nav.size-regular.style-icon-1 a:before { font-size: 24px; }
.gem-featured-posts-slider-nav.size-large.style-icon-1 a:before { font-size: 36px; }
.gem-featured-posts-slider-nav.style-icon-1 .gem-featured-posts-slide-prev:before { content: '\e900'; }
.gem-featured-posts-slider-nav.style-icon-1 .gem-featured-posts-slide-next:before { content: '\e901'; }

/* style arrows 2 */
.gem-featured-posts-slider-nav.size-regular.style-icon-2 a { font-size: 20px; }
.gem-featured-posts-slider-nav.size-large.style-icon-2 a { font-size: 30px; }
.gem-featured-posts-slider-nav.style-icon-2 .gem-featured-posts-slide-prev:before { content: '\e902'; }
.gem-featured-posts-slider-nav.style-icon-2 .gem-featured-posts-slide-next:before { content: '\e903'; }

/* style arrows 3 */
.gem-featured-posts-slider-nav.size-regular.style-icon-3 a { font-size: 32px; }
.gem-featured-posts-slider-nav.size-large.style-icon-3 a { font-size: 48px; }
.gem-featured-posts-slider-nav.style-icon-3 .gem-featured-posts-slide-prev:before { content: '\e904'; }
.gem-featured-posts-slider-nav.style-icon-3 .gem-featured-posts-slide-next:before { content: '\e905'; }

/* style arrows 4 */
.gem-featured-posts-slider-nav.size-regular.style-icon-4 a { font-size: 30px; }
.gem-featured-posts-slider-nav.size-large.style-icon-4 a { font-size: 40px; }
.gem-featured-posts-slider-nav.style-icon-4 .gem-featured-posts-slide-prev:before { content: '\e906'; }
.gem-featured-posts-slider-nav.style-icon-4 .gem-featured-posts-slide-prev:after { content: '\e90a'; }
.gem-featured-posts-slider-nav.style-icon-4 .gem-featured-posts-slide-next:before { content: '\e907'; }
.gem-featured-posts-slider-nav.style-icon-4 .gem-featured-posts-slide-next:after { content: '\e90b'; }

/* style arrows 5 */
.gem-featured-posts-slider-nav.size-regular.style-icon-5 a { font-size: 30px; }
.gem-featured-posts-slider-nav.size-large.style-icon-5 a { font-size: 40px; }
.gem-featured-posts-slider-nav.style-icon-5 .gem-featured-posts-slide-prev:before { content: '\e908'; }
.gem-featured-posts-slider-nav.style-icon-5 .gem-featured-posts-slide-prev:after { content: '\e90c'; }
.gem-featured-posts-slider-nav.style-icon-5 .gem-featured-posts-slide-next:before { content: '\e909'; }
.gem-featured-posts-slider-nav.style-icon-5 .gem-featured-posts-slide-next:after { content: '\e90d'; }

/* style arrows 5 */
.gem-featured-posts-slider-nav.size-regular.style-icon-custom a { font-size: 24px; }
.gem-featured-posts-slider-nav.size-regular.style-icon-custom svg { width: 24px; height: 24px; }
.gem-featured-posts-slider-nav.size-large.style-icon-custom a { font-size: 36px; }
.gem-featured-posts-slider-nav.size-large.style-icon-custom a svg { width: 36px; height: 36px; }


.gem-featured-posts-slider-dots {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: 3;
}

.gem-featured-posts-slider-dots a {
    margin: 0 10px;
}

.gem-featured-posts-slider-dots a > span {
    font-size: 0;
    display: block;
    border-radius: 50%;
}

.gem-featured-posts-slider-dots a > span,
.gem-featured-posts-slider-dots.size-regular a > span {
    width: 12px;
    height: 12px;
}

.gem-featured-posts-slider-dots.size-large a > span {
    width: 16px;
    height: 16px;
}

.gem-featured-posts-slider-dots.style-light span {
    background-color: #ffffff;
}

.gem-featured-posts-slider-dots.style-dark span {
    background-color: #3c3950;
}

.gem-featured-posts-slider-carousel {
    display: flex;
}

.gem-featured-posts-slider-carousel article {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gem-featured-posts-slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.gem-featured-posts-slider .slide-item {
    padding: 0 60px;
    height: 758px;
}

.featured-posts-slider-preloader {
    height: 758px;
}

.gem-featured-posts-slide-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 1170px;
    width: 100%;
    color: #ffffff;
    line-height: normal;
    z-index: 1;
}

.gem-featured-posts-slide-item>div:last-child {
    margin-bottom: 0;
}

.centered-captions .gem-featured-posts-slide-item {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gem-featured-post-date {
    font-size: 14px;
}

.style-new .gem-featured-post-date {
    margin-bottom: 45px;
}

.gem-featured-post-title {
    text-transform: uppercase;
}

.gem-featured-post-title div {
    display: inline-block;
}

.style-new .gem-featured-post-title {
    text-transform: none;
}

.gem-featured-post-excerpt {
    margin-bottom: 25px;
}

.gem-featured-post-excerpt div {
    display: inline-block;
}

.gem-featured-post-excerpt p:last-child {
    margin-bottom: 0;
}

.style-default .gem-featured-post-meta-categories {
    margin-bottom: 45px;
}

.gem-featured-post-meta-categories span {
    color: #00bcd4;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
}

.gem-featured-post-meta-categories span a {
    color: inherit;
}

.style-new .gem-featured-post-meta-categories span {
    background-color: #000000;
    color: #ffffff;
    line-height: 1.7;
    padding: 0 10px;
}

.style-new .gem-featured-post-meta-categories span a:hover {
    text-decoration: underline;
}

.gem-featured-post-meta-author {
    /*display: flex;*/
    /*justify-content: left;*/
    margin-bottom: 45px;
}

.gem-featured-post-meta-author .author-wrap {
    display: inline-block;
}

.gem-featured-post-meta-author .author {
    display: flex;
    align-items: center;
    margin: auto;
}

.gem-featured-post-meta-author .author .author-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.gem-featured-post-meta-author .author .author-avatar img {
    width: 100%;
    height: auto;
    display: block;
}

.gem-featured-post-meta-author .author .author-name {
    font-size: 14px;
    line-height: 1;
}

.gem-featured-post-btn-box a.gem-button {
    margin: 0;
    height: auto;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gem-featured-post-btn-box a.gem-button .gem-inner-wrapper-btn {
    display: flex;
    align-items: center;
}

.gem-featured-post-btn-box a.gem-button.gem-button-icon-position-right .gem-inner-wrapper-btn {
    flex-direction: row-reverse;
}

.gem-featured-post-btn-box a.gem-button.gem-button-style-outline:hover {
    background-color: inherit;
}

.gem-featured-post-btn-box a.gem-button svg {
    width: 14px;
    height: 14px;
}

@media (max-width: 1440px) {
    .fullwidth-block .gem-featured-posts-slide-prev { left: 15px; }
    .fullwidth-block .gem-featured-posts-slide-next { right: 15px; }
}

@media(max-width: 767px) {
    .gem-featured-posts-slider-nav {
        /*display: none;*/
    }

    .gem-featured-posts-slider-dots,
    .gem-featured-posts-slider-nav.position-mobile-bottom-centered {
        bottom: 30px;
    }

    .slide-item {
        padding: 0 21px;
    }

    .gem-featured-post-meta-author,
    .style-default .gem-featured-post-meta-categories,
    .style-new .gem-featured-post-date {
        margin-bottom: 25px;
    }
}