.thegem-te-cart {
	position: relative;
	width: fit-content;
}

/*Cart Link*/

.thegem-te-cart .minicart-menu-link {
	position: relative;
	display: flex;
	align-items: center;
}

.thegem-te-cart .menu-item-cart {
    color: var(--thegem-to-menu-level1-color, #3C3950);
}

.thegem-te-cart:hover .menu-item-cart {
	color: var(--thegem-to-menu-level1-color-hover, #00BCD4);
    transition: all 0.3s;
}

.thegem-te-cart .te-cart-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thegem-te-cart .te-cart-icon i {
    font-style: normal;
}
.thegem-te-cart .te-cart-icon i.default:before,
.thegem-te-cart .minicart-menu-link:before {
	content: var(--thegem-to-cart-icon-icon, '\e67d');
	font-family: var(--thegem-to-cart-icon-font, 'thegem-icons');
}
.thegem-te-cart .minicart-menu-link:before {
    opacity: 0;
}

.thegem-te-cart.cart-icon-size-tiny .te-cart-icon,
.thegem-te-cart.cart-icon-size-tiny .minicart-menu-link:before {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

.thegem-te-cart.cart-icon-size-small .te-cart-icon,
.thegem-te-cart.cart-icon-size-small .minicart-menu-link:before {
	font-size: 24px;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.thegem-te-cart.cart-icon-size-medium .te-cart-icon,
.thegem-te-cart.cart-icon-size-medium .minicart-menu-link:before {
	font-size: 48px;
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.thegem-te-cart.label-count .minicart-item-count,
.thegem-te-cart.circle-count .minicart-item-count {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	top: 2px;
	right: -8px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	font-size: 11px;
	color: var(--thegem-to-main-bg-color, #FFFFFF);
	background-color: var(--thegem-to-cart-amount-color, var(--thegem-to-styled-color1));
	transform: translateY(-50%);
    transition: all 0.3s;
}

@media (min-width: 1025px) {
	.thegem-te-cart.label-count .minicart-item-count {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		right: 0;
		top: 0;
		width: 23px;
		height: 18px;
		font-size: 87.5%;
		text-align: center;
		line-height: 1.2;
		margin: 0 0 0 10px;
		border-radius: 0;
		transform: none;
		z-index: 1;
		color: var(--thegem-to-main-bg-color, #FFFFFF);
		background-color: var(--thegem-to-cart-amount-color, var(--thegem-to-styled-color1));
	}

	.thegem-te-cart.label-count .minicart-item-count:after {
		content: '';
		position: absolute;
		left: -6px;
		top: 3px;
		width: 12px;
		height: 12px;
		transform: rotate(45deg);
		background-color: var(--thegem-to-cart-amount-color, var(--thegem-to-styled-color1));
		z-index: -1;
        transition: all 0.3s;
	}
}

.thegem-te-cart .minicart-menu-link.empty .minicart-item-count {
	display: none;
}

/*Light cart style*/
#site-header.header-light .thegem-te-cart .menu-item-cart {
	color: var(--header-builder-light-color, #FFFFFF);
}

#site-header.header-light .thegem-te-cart:hover .menu-item-cart {
	color: var(--header-builder-light-color-hover, #00BCD4);
}

/*Mini-cart Desktop*/
.thegem-te-cart.desktop-view .minicart {
	position: absolute;
	width: 305px;
	top: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);
	padding: 20px 0 0 0;
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: var(--thegem-to-box-border-color, #DFE5E8);
	white-space: normal;
	transition: transform 0.1s linear 0.5s, opacity 0.1s linear 0.5s, visibility 0.1s linear 0.5s;
	z-index: 2;
}

.thegem-te-cart.desktop-view:hover .minicart {
	visibility: visible;
	transition: all 0.3s linear;
	opacity: 1;
	transform: translateY(0);
}

.thegem-te-cart.desktop-view .minicart.invert {
	left: auto;
	right: 0;
}

/*Mini-cart All View*/
.thegem-te-cart .minicart .woocommerce-mini-cart {
	position: relative;
	width: auto;
	padding: 0 24px;
	box-shadow: none;
	transition: all 0s;
	opacity: 1;
	visibility: inherit;
	transform: none;
	border: 0;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item {
	position: relative;
	display: inline-block;
	padding: 4px 0 0 0;
	margin: 26px 0 0 0;
	width: 100%;
	border: 0 !important;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item .minicart-image {
	float: left;
	margin-right: 17px;
	margin-top: -4px;
	position: relative;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item .minicart-image img {
	height: 60px;
	width: 60px;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item .minicart-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1;
	background-color: var(--thegem-to-hover-default-color-03, rgba(0, 188, 212, 0.3));
	transition: all 0.2s linear;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item a:hover .minicart-image:after {
	opacity: 1;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item.sale .minicart-image:before {
	content: '%';
	position: absolute;
	right: -11px;
	top: 4px;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	z-index: 2;
	line-height: 24px;
	text-align: center;
	text-indent: -1px;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item .variation {
	display: none;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item.empty {
	padding-bottom: 25px;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item:first-child {
	margin: 0;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item a {
	display: block;
	margin: 0 20px 0 0;
	border: 0;
	padding: 0;
	color: var(--thegem-to-body-color, #5f727f);
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item a.remove {
	position: absolute;
	right: 0;
	top: -7px;
	padding: 0;
	margin: 0;
	font-size: 18px;
	color: var(--thegem-to-menu-level1-color-hover, #00BCD4);
	cursor: pointer;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item a:hover {
	color: var(--thegem-to-link-color, #00BCD4);
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item .quantity,
.thegem-te-cart .minicart .woocommerce-mini-cart__total,
.thegem-te-cart .minicart .woocommerce-mini-cart-item.empty,
.thegem-te-cart .minicart .woocommerce-mini-cart-item.sale .minicart-image:before {
	font-family: var(--thegem-to-submenu-font-family, 'Source Sans Pro');
	font-weight: var(--thegem-to-submenu-font-weight, 400);
	font-size: var(--thegem-to-submenu-font-size, 16px);
	color: var(--thegem-to-date-filter-subtitle-color, #99A9B5);
}

.thegem-te-cart .minicart .woocommerce-mini-cart__total strong {
	font-weight: var(--thegem-to-submenu-font-weight, 400);
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item .quantity span.amount,
.thegem-te-cart .minicart .woocommerce-mini-cart__total span.amount {
	font-weight: 300;
	font-size: 20px;
	color: var(--thegem-to-product-price-cart-color, #3C3950);
}

.thegem-te-cart .minicart .woocommerce-mini-cart__total span.amount {
	font-family: var(--thegem-to-woo-price-font-family, 'Montserrat');
	font-size: 24px;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item.sale .minicart-image:before {
	color: #FFFFFF;
	background-color: var(--thegem-to-hover-default-color, #00BCD4);
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item .quantity {
	display: inline-block;
}

.thegem-te-cart .minicart .woocommerce-mini-cart-item .cart-item-info {
	margin-left: 85px;
	padding-top: 5px;
}

.thegem-te-cart .widget_shopping_cart_content .quantity {
	font-size: 123.5%;
	line-height: 1.421;
}

.thegem-te-cart .minicart .minicart-bottom {
	margin-top: 25px;
	padding: 20px 20px 20px;
}

.thegem-te-cart .minicart .woocommerce-mini-cart__total {
	padding: 15px 24px 0;
	margin-top: 24px;
	display: flex;
	justify-content: space-between;
}

.thegem-te-cart .minicart .woocommerce-mini-cart__total strong {
	display: inline-block;
	padding-top: 7px;
}

.thegem-te-cart .minicart .woocommerce-mini-cart__buttons {
	display: flex;
	padding: 8px 18px 17px;
}

.thegem-te-cart .minicart .woocommerce-mini-cart__buttons a {
	margin: 0;
	width: 100%;
}

.thegem-te-cart .minicart .woocommerce-mini-cart__buttons .mini-cart-view-cart {
	flex: 1;
	margin: 6px;
	flex-basis: auto;
}

.thegem-te-cart .minicart .woocommerce-mini-cart__buttons .mini-cart-view-cart .gem-button {
	border: 2px solid transparent;
	line-height: 26px;
}

.thegem-te-cart .minicart .woocommerce-mini-cart__buttons .mini-cart-checkout {
	flex: 1;
	margin: 6px;
	flex-basis: auto;
}

.thegem-te-cart .minicart .woocommerce-mini-cart__total,
.thegem-te-cart .minicart .woocommerce-mini-cart__buttons {
	background-color: var(--styled-bg-color, #F0F3F2);
}

.thegem-te-cart .minicart .woocommerce-mini-cart .empty {
	border: 0 none;
	margin-bottom: 1.421em;
	box-shadow: none;
}

/*mobile Minicart*/
.thegem-te-cart.mobile-view .minicart {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	display: block;
	width: 80%;
	min-width: 300px;
	max-width: 450px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
	transition: transform 0.2s ease-out, opacity 1s linear 0.5s, visibility 1s linear 0.5s;
	z-index: 999;
	background-color: var(--styled-bg-color, #F0F3F2);
}

.thegem-te-cart.mobile-view .minicart .widget_shopping_cart_content {
	background-color: #ffffff;
}

.thegem-te-cart.mobile-view .minicart.active {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
	transition: transform 0.2s ease-out, opacity 0s, visibility 0s;
}

.thegem-te-cart.mobile-view .mobile-cart-header {
	display: block;
	position: relative;
	padding: 23px 24px;
	background-color: #FFFFFF;
}

.thegem-te-cart.mobile-view .mobile-cart-header .mobile-cart-header-title {
	margin: 0;
}

.thegem-te-cart.mobile-view .mobile-cart-header .mobile-cart-header-title:before {
	font-family: 'thegem-icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	content: '\e613';
	vertical-align: top;
	line-height: inherit;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	color: var(--thegem-to-styled-color1, #00bcd4);
}

.thegem-te-cart.mobile-view .mobile-cart-header-close {
	position: absolute;
	top: 50%;
	right: 24px;
	margin-top: -15px;
	width: 30px;
	height: 30px;
}

.thegem-te-cart.mobile-view .mobile-cart-header-close .cart-close-line-1,
.thegem-te-cart.mobile-view .mobile-cart-header-close .cart-close-line-2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #99a9b5;
	margin-top: -2px;
}

.thegem-te-cart.mobile-view .mobile-cart-header-close .cart-close-line-1 {
	transform: rotate(45deg);
}

.thegem-te-cart.mobile-view .mobile-cart-header-close .cart-close-line-2 {
	transform: rotate(-45deg);
}

.thegem-te-cart.mobile-view .mobile-minicart-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background: #000000;
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
	overflow: hidden;
}

.thegem-te-cart.mobile-view .mobile-minicart-overlay.active {
	opacity: 0.7;
	visibility: visible;
}

.thegem-te-cart.mobile-view .minicart .woocommerce-mini-cart-item a.remove {
	font-size: 24px;
	right: 15px;
	top: 5px;
}

.thegem-te-cart.mobile-view .minicart .woocommerce-mini-cart-item img {
	width: 80px;
	height: auto;
}

.thegem-te-cart.mobile-view .total {
	text-align: center;
	margin-top: 0;
}

.thegem-te-cart.mobile-view .total strong,
.thegem-te-cart.mobile-view .total span.amount {
	float: none;
}

.thegem-te-cart.mobile-view .buttons {
	text-align: center;
}

.thegem-te-cart.mobile-view .buttons .gem-button-container {
	float: none;
	margin: 10px 5px;
}

.thegem-te-cart.mobile-view .widget_shopping_cart_content ul.cart_list {
	padding: 0;
}

.thegem-te-cart.mobile-view .widget_shopping_cart_content ul.cart_list > li {
	padding: 15px;
	margin: 0;
	border-top: 1px solid var(--thegem-to-box-border-color, #dfe5e8) !important;
}

@media (max-width: 767px) {
	body.admin-bar.cart-scroll-locked .thegem-te-cart.mobile-view .minicart {
		top: 46px;
	}

	body.admin-bar.cart-scroll-locked .header-sticky-template .thegem-te-cart.mobile-view .minicart {
		top: 0;
	}
}